<div class="container">
  <div class="card card-body w-50 mx-auto mt-5">
    <form action="/register" method="POST">
      <div class="mb-4 row">
        <label class="col-sm-3 col-form-label">*必填欄位</label>
        <div class="col-sm-9">
          <h2 class="text-center">註冊</h2>
        </div>
      </div>
      <div class="mb-4 row">
        <label for="name" class="col-sm-3 col-form-label">使用者名稱*</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name" name="name" placeholder="輸入使用者名稱..." value="{{name}}">
        </div>
      </div>
      <div class="mb-4 row">
        <label for="email" class="col-sm-3 col-form-label">Email*</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="email" placeholder="輸入Email..." value="{{email}}">
        </div>
      </div>
      <div class="mb-4 row">
        <label for="password" class="col-sm-3 col-form-label">密碼*</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="password" name="password" placeholder="輸入密碼..."
            value="{{password}}">
        </div>
      </div>
      <div class="mb-4 row">
        <label for="confirmPassword" class="col-sm-3 col-form-label">確認密碼*</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
            placeholder="再次輸入密碼..." value="{{confirmPassword}}">
        </div>
      </div>
      <div class="mb-4 row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 align-item-end">
          <button type="submit" class="btn btn-success w-100 mt-3">送出</button>
        </div>
      </div>
    </form>
  </div>
</div>